<div class="logotype">
    <a class="alpha-logotype" href="@Url.Content("~/")" aria-label="Go to homepage.">
        <img src="~/images/alpha-logo-icon.svg" alt="Alpha logotype.">
        <span>alpha</span>
    </a>
</div>