<nav class="nav-links" aria-label="Main navigation.">
    <ul class="nav-list">
        <li class="nav-item">
            <a asp-controller="Projects" asp-action="Projects" class="nav-link @(Context.Request.Path == "/projects" ? "active" : "")">
                <i class="fa-solid fa-briefcase" aria-hidden="true"></i>
                <span>Projects</span>
            </a>
        </li>
        <li class="nav-item">
            <a asp-controller="Admin" asp-action="Members" class="nav-link @(Context.Request.Path == "/admin/members" ? "active" : "")">
                <i class="fa-solid fa-users" aria-hidden="true"></i>
                <span>Team Members</span>
            </a>
        </li>
        <li class="nav-item">
            <a asp-controller="Admin" asp-action="Clients" class="nav-link @(Context.Request.Path == "/admin/clients" ? "active" : "")">
                <i class="fa-solid fa-handshake" aria-hidden="true"></i>
                <span>Clients</span>
            </a>
        </li>
    </ul>
</nav> 