@model Data.Entities.ProjectEntity

<article class="box-surface project-card">
    <header class="card-header">
        <img src="~/images/placeholder-icon.svg" alt="Project icon." class="card-icon" />
        <div class="card-header-text">
            <p class="card-header-title">@Model.ProjectName</p>
            <p class="card-header-client">@Model.ClientName</p>
        </div>

        <button type="button" data-modal="true" data-target="#editProjectModal" class="card-options" aria-label="Options menu.">
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
        </button>
    </header>

    <div class="card-body">
        <p>@Model.Description</p>
    </div>
</article>