@* <section class="projects-grid"> *@
    <article class="box-surface project-card">
        <header class="card-header">
            <img src="~/images/placeholder-icon.svg" alt="Project icon." class="card-icon" />
            <div class="card-header-text">
                <p class="card-header-title">Test project name</p>
                <p class="card-header-client">Test project client</p>
            </div>

            <button class="card-options" aria-label="Options menu.">
                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            </button>
        </header>

        <div class="card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
    </article>
@* </section> *@