/* ============================= */
/*             HEADER            */
/* ============================= */

/* Huvudcontainer för headern */
.dashboard .header {
    grid-area: top;
    display: grid;
    grid-template-columns: 1fr auto; /* Sökfält till vänster, kontroller till höger */
    align-items: center;
    padding-inline: 1.85rem;
    gap: 5rem;
    border-bottom: 1px solid var(--clr-border-200);
}


/* ----------------------------- */
/*            SÖKFÄLT            */
/* ----------------------------- */

/* Wrapper för sökfältet */
.header .search-bar {
    display: flex;
    gap: 0.5rem;
    align-content: center;
}


/* Ikonen i sökfältet */
.header .search-bar i {
    font-size: 1.25rem;
}


/* Inputfältet i söksektionen */
.search-bar .search-input {
    width: 100%;
    padding-inline: 0.25rem;
    font-family: var(--font-regular);
    font-size: var(--fs16px);
}


/* ----------------------------- */
/*         USER CONTROLS         */
/* ----------------------------- */

/* Wrapper för användarkontroller (ikoner + avatar) */
.header .user-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Ikoner för användarkontrollen */
.user-controls .settings,
.user-controls .notifications {
    color: var(--clr-body-light);
    cursor: pointer;
    font-size: 20px;
    width: 2.5rem;
    height: 2.5rem;
    transition: background-color ease 300ms;
}
    /* Hover-effekt på inställnings- och notifikationsikoner */
    .user-controls .settings:hover,
    .user-controls .notifications:hover {
        background-color: var(--clr-accent-opacity);
    }

/* Vertikal avdelare mellan ikoner och avatar */
.user-controls .divider {
    width: 1px;
    height: 2rem;
    background-color: var(--clr-border-200);
    margin-inline: 0.5rem 1rem;
}

/* Användarens avatarbild */
.user-controls .user-avatar {
    height: 2.5rem;
    cursor: pointer;
}