<header class="header">
    <div class="header__search">
        <img src="images/icons/search.svg" alt="" aria-hidden="true">
        <input type="text" class="header__search-input" aria-label="Search." placeholder="Search anything...">
    </div>
    <div class="header__user-controls">
        <button type="button" class="header__notifications" aria-label="Notifications.">
            <i class="fa-solid fa-bell" aria-hidden="true"></i>
        </button>
        <button type="button" class="header__settings" aria-label="Settings.">
            <i class="fa-solid fa-gear" aria-hidden="true"></i>
        </button>
        <div class="header__divider" aria-hidden="true"></div>
        <img src="~/images/avatars/default-avatar-female-1.svg" alt="User Avatar" class="header__user-avatar">
    </div>
</header>