@model Alpha.Webb.ViewModels.ProjectsPageViewModel

@{
    Layout = "_DashboardLayout";
    ViewBag.Title = "Projects";
}

<header class="projects-header">    
    <h1 class="projects-header-text">@ViewBag.Title</h1>
    <button 
        type="button"
        class="btn btn-primary" 
        data-action="open"
        data-target="#addProjectModal"
    >
        Add Project
    </button>
</header>

<nav class="projects-tabs">
    <button class="tab tab-active">ALL [@Model.Projects.Count()]</button>
    <!-- Placeholders -->
    <button class="tab">STARTED [6]</button>
    <button class="tab">COMPLETED [2]</button>
</nav>

<div class="projects-list">
    <section class="projects-grid">

        @foreach (var project in Model.Projects) {
            @await Html.PartialAsync("Partials/Components/_ProjectCard", project)
        }

    </section>
</div>



<!-- Add Project Modal -->
<div id="addProjectModal" class="modal">
    <div class="modal-content box-surface">

        <div class="modal-header">
            <div class="modal-header__top">
                <h3 class="modal__header-text">Add Project</h3>
                <button 
                    type="button"
                    class="btn-close"
                    data-action="close"
                    data-target="#addProjectModal">
                </button>
            </div>
        </div>

        <partial name="_ProjectForm" model="Model.NewProject" />
    </div>
</div>


<!-- Edit Project Modal -->
<div id="editProjectModal" class="modal">
    <div class="modal-content box-surface">
        <div class="modal-header">
            <div class="modal-header__top">
                <h3 class="modal__header-text">Edit Project</h3>
                <button class="btn-close" data-close="true"></button>
            </div>
        </div>
        <partial name="_ProjectForm" model="Model.NewProject" />
    </div>
</div>