@model Alpha.Webb.ViewModels.ProjectFormViewModel
@{
    Layout = "_DashboardLayout";
    ViewBag.Title = "Projects";
}

<header class="projects-header">    
    <h1 class="projects-header-text">@ViewBag.Title</h1>
    <button type="button" data-modal="true" data-target="#addProjectModal" class="btn btn-primary">
        Add Project
    </button>
</header>

<nav class="projects-tabs">
    <!-- Nummerna är placeholders, de ska uppdatera med antal projekt senare -->
    <button class="tab tab-active">ALL [8]</button>
    <button class="tab">STARTED [6]</button>
    <button class="tab">COMPLETED [2]</button>
</nav>

<div class="projects-list">
    <section class="projects-grid">

        <!-- Manuella placeholders -->
        @await Html.PartialAsync("Partials/Components/_ProjectCard")
        @await Html.PartialAsync("Partials/Components/_ProjectCard")
        @await Html.PartialAsync("Partials/Components/_ProjectCard")
        @await Html.PartialAsync("Partials/Components/_ProjectCard")
        @await Html.PartialAsync("Partials/Components/_ProjectCard")
        @await Html.PartialAsync("Partials/Components/_ProjectCard")
        @await Html.PartialAsync("Partials/Components/_ProjectCard")

    </section>
</div>



<!-- Add Project Modal -->
<div id="addProjectModal" class="modal">
    <div class="modal-content box-surface">

        <div class="modal-header">
            <div class="modal-header__top">
                <h3 class="modal__header-text">Add Project</h3>
                <button class="btn-close" data-close="true"></button>
            </div>
        </div>

        <partial name="_ProjectForm" model="Model" />
    </div>
</div>


<!-- Edit Project Modal -->
<div id="editProjectModal" class="modal">
    <div class="modal-content box-surface">
        <div class="modal-header">
            <div class="modal-header__top">
                <h3 class="modal__header-text">Edit Project</h3>
                <button class="btn-close" data-close="true"></button>
            </div>
        </div>
        <partial name="_ProjectForm" model="Model" />
    </div>
</div>