@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

/*
    1. Variables
    2. Darkmode
    3. Base / Reset
    4. Layout / Utility
    5. Components
    6. Forms
    7. Sections
      - 7.1. Sidebar
      - 7.2. Header
      - 7.3. Page Content
      - 7.4. Project Cards
*/


/* ====================================
  01. Variables
==================================== */
:root {
    /* Fonts */
    --font-regular: "Nunito", sans-serif;
    --font-logo: "Comfortaa", sans-serif;

    /* Font sizes */
    --fs16px: 1rem;
    --fs18px: 1.125rem;
    --fs24px: 1.5rem;
    --fs26px: 1.625rem;
    --fs32px: 2rem;
    --fs36px: 2.25rem;

    /* Font weights */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-extrabold: 800;

    /* Colors */
    --clr-heading: #1A1926;
    --clr-body-light: #637085;
    --clr-body-dark: #28263B;
    --clr-grey-100: #f5f7fa;
    --clr-grey-200: #F0F1F5;
    --clr-grey-300: #E8EAED;
    --clr-grey-400: #E3E5E8;
    --clr-border-100: #EBEEF2;
    --clr-border-200: #E3E5E8;
    --clr-border-300: #C6C8CC;
    --clr-background: #F1F3F7;
    --clr-surface: #FFFFFF;
    --clr-accent: #2D99FF;
    --clr-accent-opacity: #2d99ff1a;
    --clr-orange: #FF9640;
    --clr-orange-dark: #F09330;
    --clr-red: #FF6640;
    --clr-red-dark: #E94D3F;
    --clr-yellow: #FFD422;
    --clr-yellow-dark: #FCBB42;
    --clr-blue: #2CD9D9;
    --clr-blue-dark: #2D7DCC;
    --clr-green: #31D482;
    --clr-green-dark: #24B26B;
    --clr-purple: #826AF9;
    --clr-purple-dark: #634CD4;

    /* Button colors */
    --clr-btn-primary-bg: #2D99FF;
    --clr-btn-primary-bg-hover: #40a2ff;
    --clr-btn-primary-text: #FFFFFF;
}



/* ====================================
  02. Darkmode
==================================== */
[data-theme="dark"] {
    --clr-heading: #FFFFFF;
    --clr-body-light: #637085;
    --clr-body-dark: #28263B;
    --clr-grey-100: #f5f7fa;
    --clr-grey-200: #F0F1F5;
    --clr-grey-300: #E8EAED;
    --clr-grey-400: #E3E5E8;
    --clr-border-100: #EBEEF2;
    --clr-border-200: #232324;
    --clr-border-300: #C6C8CC;
    --clr-background: #151517;
    --clr-surface: #151517;
}



/* ====================================
  03. Base / Reset
==================================== */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #535353;
    font-family: var(--font-regular);
    font-size: var(--fs16px);
}

input {
    border: none;
    background-color: transparent;
    outline: none;
}

a {
    text-decoration: none;
    color: var(--clr-body-dark);
}

ul {
    list-style: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}



/* ====================================
  04. Layout / Utility
==================================== */
.screen-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}


.box-surface {
    border-radius: 1rem;
    background-color: var(--clr-surface);
    box-shadow: 0px 4px 4px 1px rgba(130, 130, 130, 0.2)
}

.dashboard {
    display: grid;
    grid-template-columns: minmax(3.25rem, 16.5rem) 1fr;
    grid-template-rows: 5rem 1fr;
    grid-template-areas: "logo top" "side main";
    height: 100dvh;
    overflow: hidden;
}

.layout-container {
    max-width: 1440px;
    height: 100dvh;
    margin-inline: auto;
    border-left: 1px solid var(--clr-border-200);
    border-right: 1px solid var(--clr-border-200);
    background-color: var(--clr-grey-100);
}



/* ====================================
  05. Components
/*==================================== */
/* 1. Buttons */
.btn {
    padding-block: 0.875rem;
    padding-inline: 1.5rem;
    border-radius: 1rem;
    font-size: var(--fs16px);
    font-weight: var(--fw-medium);
}

.btn-primary {
    background-color: var(--clr-btn-primary-bg);
    color: var(--clr-btn-primary-text);
    transition: background-color ease-in-out 250ms;
}

    .btn-primary:hover {
        background-color: var(--clr-btn-primary-bg-hover);
    }

.btn-submit {
    width: 100%;
}



/* ====================================
  06. Forms
==================================== */
.form {
    /*    width: 100%;*/
}

.auth-form {
    padding-inline: 6.25rem;
    width: 37.5rem;
    height: 43.75rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.auth-register-form {
    padding-inline: 6.25rem;
    width: 37.5rem;
    height: 56.25rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.form__header {
    padding-bottom: 3.5rem;
    padding-top: 6.25rem;
}

.form__title {
    font-size: var(--fs36px);
    text-align: center;
}

.form__group {
    margin-bottom: 1.875rem;
}

.form__group-tight {
    margin-bottom: 1rem;
}

.form__label {
    font-size: var(--fs16px);
    font-weight: var(--fw-semibold);
}

.form__input {
    padding-inline: 0.75rem;
    border: 1px solid var(--clr-border-200);
    border-radius: 1rem;
    outline: none;
    width: 100%;
    height: 3rem;
}
    .form__input::placeholder {
        color: var(--clr-body-light);
        font-weight: var(--fw-regular);
    }

.form__checkbox-group {
    padding-top: 0.5rem;
    margin-bottom: 0rem;
}

.form__checkbox-label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.form__checkbox-input {
    height: 1rem;
    width: 1rem;
}

.form__checkbox-text {
    font-size: var(--fs16px);
    font-weight: var(--fw-regular);
}

.form__footer {
    margin-bottom: 1.875rem;
}

.form__footer-text {
    text-align: center;
    font-size: var(--fs16px);
    font-weight: var(--fw-medium);
}

.form__footer-link {
    color: var(--clr-accent);
}




/* ====================================
  07. Sections
==================================== */
/* ----------------------------- */
/* 7.1. Sidebar */
/* ----------------------------- */
/* Huvudcontainer för sidebar */
.side {
    display: flex;
    flex-direction: column;
    width: 100%;
}


/* ----------------------------- */
/*            LOGOTYPE           */
/* ----------------------------- */

/* Wrapper för logotypen i sidebaren */
.logo .logotype {
    grid-area: logo;
    padding-left: 1rem;
    display: flex;
    flex-shrink: 0;
    justify-content: flex-start;
    height: 5rem;
    border-right: 1px solid var(--clr-border-200);
    align-items: center;
}

/* Styling för logotypen (ikon + text) */
.logotype .alpha-logotype {
    gap: 0.5rem;
    display: inline-flex;
    width: max-content;
    align-items: center;
    font-weight: var(--fw-bold);
    font-family: var(--font-logo);
    font-size: var(--fs26px);
}


/* ----------------------------- */
/*           NAVIGATION          */
/* ----------------------------- */

/* Wrapper för navigationslänkar i sidebaren */
.side .nav-links {
    grid-area: side;
    border-right: 1px solid var(--clr-border-200);
    display: flex;
    flex-grow: 1;
}

.nav-list {
/*    height: 100dvh;*/
    width: 100%;
}

/* Enskilda menyobjekt */
.nav-links .nav-item {
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

/* Länkar i navigeringen */
.nav-links .nav-link {
    display: flex;
    align-items: center;
    border-radius: 1rem;
    width: 100%;
    height: 3.5rem;
    padding-inline: 1rem;
    gap: 0.75rem;
    font-weight: var(--fw-medium);
    color: var(--clr-heading);
    background-color: transparent;
    transition: color ease 300ms, background-color ease 300ms;
}
    /* Hover-effekt på navigationslänkar */
    .nav-links .nav-link:hover {
        color: var(--clr-accent);
        background-color: var(--clr-accent-opacity);
    }
    /* Aktiv länk i navigeringen */
    .nav-links .nav-link.active {
        color: var(--clr-accent);
        background-color: var(--clr-accent-opacity);
    }

    /* Ikoner i navigationslänkar */
    .nav-links .nav-link i {
        font-size: 1rem;
        width: 1.5rem;
        text-align: center;
    }


/* ----------------------------- */
/* 7.2. Header */
/* ----------------------------- */
/* Huvudcontainer för headern */
.dashboard .header {
    grid-area: top;
    display: grid;
    grid-template-columns: 1fr auto; /* Sökfält till vänster, kontroller till höger */
    align-items: center;
    padding-inline: 1.85rem;
    gap: 5rem;
    border-bottom: 1px solid var(--clr-border-200);
}


/* ----------------------------- */
/*            SÖKFÄLT            */
/* ----------------------------- */

/* Wrapper för sökfältet */
.header .search-bar {
    display: flex;
    gap: 0.5rem;
    align-content: center;
}


    /* Ikonen i sökfältet */
    .header .search-bar i {
        font-size: 1.25rem;
    }


/* Inputfältet i söksektionen */
.search-bar .search-input {
    width: 100%;
    padding-inline: 0.25rem;
    font-family: var(--font-regular);
    font-size: var(--fs16px);
}


/* ----------------------------- */
/*         USER CONTROLS         */
/* ----------------------------- */

/* Wrapper för användarkontroller (ikoner + avatar) */
.header .user-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Ikoner för användarkontrollen */
.user-controls .settings,
.user-controls .notifications {
    color: var(--clr-body-light);
    cursor: pointer;
    font-size: 20px;
    width: 2.5rem;
    height: 2.5rem;
    transition: background-color ease 300ms;
}
    /* Hover-effekt på inställnings- och notifikationsikoner */
    .user-controls .settings:hover,
    .user-controls .notifications:hover {
        background-color: var(--clr-accent-opacity);
    }

/* Vertikal avdelare mellan ikoner och avatar */
.user-controls .divider {
    width: 1px;
    height: 2rem;
    background-color: var(--clr-border-200);
    margin-inline: 0.5rem 1rem;
}

/* Användarens avatarbild */
.user-controls .user-avatar {
    height: 2.5rem;
    cursor: pointer;
}


/* ----------------------------- */
/* 7.2. Page Content */
/* ----------------------------- */
.page-content {
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 1.85rem;
    padding-inline: 1.85rem;
    height: 100%;
    overflow: hidden;
}

.projects-header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-shrink: 0;
    position: sticky;
    top: 0;    
    z-index: 10;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--clr-border-200);
}

.projects-header-text {
    font-size: var(--fs32px);
    font-weight: var(--fw-bold);
    color: var(--clr-heading);
}

.projects-tabs {
    display: inline-flex;
    gap: 2rem;    
}
    .projects-tabs > .tab {
        color: var(--clr-body-light);
        font-size: var(--fs16px);
        font-weight: var(--fw-bold);     
    }

.tab-active {
    border-bottom: 2px solid blue;
}

.projects-list {
    flex: 1;
    overflow-y: auto;
}


/* ----------------------------- */
/* 7.3. Project Cards / Project Grid */
/* ----------------------------- */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 2.125rem;
}

.project-card {
    display: flex;
    flex-direction: column;
    height: 17.25rem;
    max-width: 22rem;
    padding: 1.5rem;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    gap: 1rem;
}

.card-icon {
    height: 3.5rem;
    width: 3.5rem;
}

.card-header-text {
    flex: 1;
}

.card-header-title {
    font-size: var(--fs18px);
    font-weight: var(--fw-semibold);
}

.card-header-client {
    font-size: var(--fs16px);
    color: var(--clr-body-light);
}

.card-options {
    font-size: var(--fs24px);
    color: var(--clr-body-light);
}

.card-body {
    flex: 1;
    overflow-y: auto;
    font-weight: var(--fw-regular)
    /*    text-wrap: pretty;*/
}