@model AddProjectForm

<div id="addProjectModal" class="modal">
    <div class="modal-content box-surface">

        <div class="modal-header">
            <div class="modal-header__top">
                <h3 class="modal__header-text">Add Project</h3>
                <button class="btn-close" data-close="true"></button>
            </div>            
        </div>

        <form class="form" novalidate method="post" asp-action="AddProject" asp-controller="Admin" enctype="multipart/form-data">

            <div class="image-previewer square ">
                <img src="" alt="" class="image-preview"/>
                <input asp-for="ProjectImage" accept="image/*" class="hide" />
            </div>



            <!-- Project Name -->
            <div class="form__group">
                <label class="form__label" asp-for="ProjectName"></label>
                <div class="form__field-group">
                    <input class="form__input" asp-for="ProjectName" type="text" />
                    <span asp-validation-for="ProjectName"></span>
                </div>
            </div>

            <!-- Client Name -->
            <div class="form__group">
                <label class="form__label" asp-for="ClientName"></label>
                <div class="form__field-group">
                    <input class="form__input" asp-for="ClientName" type="text" />
                    <span asp-validation-for="ClientName"></span>
                </div>
            </div>


            <div class="form__group">
                <label class="form__label" asp-for="Description"></label>
                <div class="form__field-group">
                    <div class="form__input"
                         contenteditable="true"
                         id="projectDescription"
                         style="min-height: 120px; border: 1px solid #ccc; padding: 8px;">
                    </div>
                    <span></span>
                </div>
            </div>

            <div class="form-date-group">
                <!-- Start Date -->
                <div class="form__group">
                    @* <label class="form__label" asp-for="StartDate"></label> *@
                    <div class="form__field-group">
                        <!-- HTML5 date picker -->
                        @* <input class="form__input" type="date" asp-for="StartDate" /> *@
                        <span></span>
                    </div>
                </div>

                <!-- End Date -->
                <div class="form__group">
                    @* <label class="form__label" asp-for="EndDate"></label> *@
                    <div class="form__field-group">
                        @* <input class="form__input" type="date" asp-for="EndDate" /> *@
                        <span></span>
                    </div>
                </div>
            </div>

            <!-- Submit-knapp -->
            <div class="form__actions">
                <button type="submit" class="btn btn-primary btn-submit">Create</button>
            </div>
        </form>
    </div>
</div>
