@* Innehåller en header bestående av en search-bar och användarkontroller *@

 <div class="logo">
    @await Html.PartialAsync("Partials/Components/_AlphaLogotype")
 </div>
    
<div class="side">
    @await Html.PartialAsync("Partials/Components/_NavLinks")
</div>